body {
    margin: 0;
    padding: 30px; 
    border-bottom: 6px solid black;
    border-top: 2px solid black;
}

.content{
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: white;
    border: 3px solid red;
    display: flex;
    position: relative;
}

.div1{
    width: 25px;
    height: 25px;
    background: blue;
    position: absolute; 
    justify-content: right;
    right: -15px;
    bottom: 50%;
    text-align: center;
}

.div2{
    width: 30px;
    height: 30px;
    background: green;
    position: absolute; 
    justify-content: left;
    left: -15px;
    text-align: center;
}

.div3{
    width: 50px;
    height: 40px;
    background: grey;
    position: absolute; 
    justify-content: center;
    bottom: -25px;
    left: 50%;
    text-align: center;
}

.text{
    font-size: 40px;
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;    
}
 